.waves-1{
    background: #081315;
    color: white;
    text-align: center;
    padding: 5vw;
    position: relative;
    .logo{
        position: absolute;
        svg{
            width:100%;
            margin: auto;
        }
    }
}